.login-banner-box {
    min-width: 600px;
    min-height: 400px;
    background-color: white;
    border-radius: 8px;
}

.login-bg {
    background-image: url('assets/img/login-bg.png');
    background-size: cover;
    background-position: center;
}